*{ margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.733);
    color: rgb(247, 243, 248);

}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2cm;
    font-style: oblique;
}

.coffee {
    margin-left: 3cm;
    width: 50%;
    height: 60;
}

:root {

    --background-color: #ebecee;
    --black: #201f1f;
}

